<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="This is a website entirely devoted to whisky. Pick one, follow the opinions of others or create your own!">
	<meta name="keywords" content="whisky,blog,review,opinions">
	<meta name="author" content="Jakub Struzik, Rafał Soczek">
	<meta http-equiv="X-Ua-Compatible" content="IE=edge,chrome=1">
	
	<title>Rickhouse</title>
	
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/style.css">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&display=swap" rel="stylesheet">
	<script src="https://kit.fontawesome.com/a076d05399.js"></script>
	
	<!--[if lt IE 9]>
	<script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
	<![endif]-->
	
</head>

<body>
	<header>
	<nav class="navbar navbar-custom navbar-expand-xl">
		
			<a class="navbar-brand" th:href="@{/}" style="font-size:40px;"><img src="/images/Logo.png" height="50" class="d-inline-block align-bottom">Rickhouse</a>
		
			<button class="navbar-toggler custom-toggler" type="button" data-toggle="collapse" data-target="#mainmenu" aria-controls="mainmenu" aria-expanded="false" aria-label="Navigation toggler">
				<span class="navbar-toggler-icon"></span>
			</button>
		
			<div class="collapse navbar-collapse" id="mainmenu">
				<ul class="navbar-nav">
					
					<li class="nav-item">
						<a class="nav-link" th:href="@{/}"> Home </a>
					</li>
					
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="" data-toggle="dropdown" role="button" aria-expanded="false" id="whiskymenu" aria-haspopup="true"> Whisky </a>
						<div style="background-color:#f0eee8;border:2px solid #c29e29;font-size:20px;color:#1c3d0f" class="dropdown-menu" aria-labelledby="whiskymenu">
							<a class="dropdown-item" th:href="@{/list/scotch}"> Scotch </a>
							<a class="dropdown-item" th:href="@{/list/rye}"> Rye </a>
							<a class="dropdown-item" th:href="@{/list/japanese}"> Japanese </a>
							<a class="dropdown-item" th:href="@{/list/bourbon}"> Bourbon </a>
						</div>
					</li>
					
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="" data-toggle="dropdown" role="button" aria-expanded="false" id="whiskymenu" aria-haspopup="true"> Rankings </a>
						<div style="background-color:#f0eee8;border:2px solid #c29e29;font-size:20px;color:#1c3d0f" class="dropdown-menu" aria-labelledby="whiskymenu">
							<a class="dropdown-item" th:href="@{/list/toprated}"> Top rated  </a>
							<a class="dropdown-item" th:href="@{/list/mostreviewed}"> Most reviewed </a>
							<a class="dropdown-item" th:href="@{/list/atoz}"> A-Z </a>
						</div>
					</li>
					
					<!--<li class="nav-item dropdown">
						<a class="nav-link disabled dropdown-toggle" href="#" data-toggle="dropdown" role="button" aria-expanded="false" id="whiskymenu" aria-haspopup="true"> Reviews </a>
						<div style="background-color:#f0eee8;border:2px solid #c29e29;font-size:20px;color:#1c3d0f" class="dropdown-menu" aria-labelledby="whiskymenu">
							<a class="dropdown-item" href="#"> Latest reviews </a>
							<a class="dropdown-item" href="#"> Most liked reviews </a>
						</div>
					</li>-->
					
					<li class="nav-item">
						<a class="nav-link" th:href="@{/}" > Contest </a>
					</li>
					
					<li class="nav-item">
						<a class="nav-link" th:href="@{/}" > Contact us </a>
					</li>
					
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" role="button" aria-expanded="false" id="usermenu" aria-haspopup="true"><i class="fas fa-user" style="font-size:20px; " th:text=" ${user.getName()}"></i>  </a>
						<div style="background-color:#f0eee8;border:2px solid #c29e29;" class="dropdown-menu" aria-labelledby="usermenu">
							<a class="dropdown-item" th:href="@{/}" > My profile </a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" th:href="@{/logout}" >Log out </a>
						</div>
					</li>
					
					<li id="navig-search" class="nav-item search-icon">
					<form style="display:inline-flex" th:action="@{/search}" method="get">
						<input type="search" th:name="search" placeholder="Search">
						<button><span class="fas fa-search"></span></button>
					</form>
					</li>
				
				</ul>
			
			</div>
		
		</nav>
	</header>
	<div id="wrapper">
	</div>
	
	<section class="wh-list">
		<div id="container">
			<header class="section_name">
				<h1 th:text="${title}"></h1></span>
			</header>
			<div class="row">
   					<div class="wh-list-item" th:each="whisky: ${whiskys}">
                        <div class="picture">
                        <a th:href="@{/whisky/{id}(id=${whisky.getId()})}">
                           	<img th:src="@{${'/images/whisky_' + whisky.getId() + '.png'  }}">

                        </a>
                        </div>
					  
                        <div class="desc">
                            <div class="name-title" th:text="${whisky.getName()}">
                            </div>
                 
                        <div class="info">
                            <div class="type"  th:text="${whisky.getType()}">
                            </div>
                            <div class="region" th:text="${whisky.getCountryOfOrigin()}">
                            </div>
                        </div>
							<div class="value">
									<div class="value" th:if="${( whisky.getAverageRate() &gt 0.99 and whisky.getAverageRate() &lt 1.5 ) or whisky.getAverageRate() eq 1.50}">
										<span class="rate mr-3" th:text="${#numbers.formatDecimal(whisky.getAverageRate(), 0, 1,'POINT')}" ></span><span class="fa fa-star checked"></span><span class="fa fa-star "></span><span class="fa fa-star "></span><span class="fa fa-star "></span><span class="fa fa-star"></span>
									</div>
									<div class="value" th:if="${(whisky.getAverageRate() &gt 1.5 and whisky.getAverageRate() &lt 2.5 ) or whisky.getAverageRate() eq 2.50}">
										<span class="rate mr-3" th:text="${#numbers.formatDecimal(whisky.getAverageRate(), 0, 1,'POINT')}" ></span><span class="fa fa-star checked"></span><span class="fa fa-star checked"></span><span class="fa fa-star "></span><span class="fa fa-star "></span><span class="fa fa-star"></span>
									</div>
									<div class="value" th:if="${(whisky.getAverageRate() &gt 2.5 and whisky.getAverageRate() &lt 3.5 ) or whisky.getAverageRate() eq 3.50}">
										<span class="rate mr-3" th:text="${#numbers.formatDecimal(whisky.getAverageRate(), 0, 1,'POINT')}" ></span><span class="fa fa-star checked"></span><span class="fa fa-star checked"></span><span class="fa fa-star checked "></span><span class="fa fa-star "></span><span class="fa fa-star"></span>
									</div>
									<div class="value" th:if="${(whisky.getAverageRate() &gt 3.5 and whisky.getAverageRate() &lt 4.5 ) or whisky.getAverageRate() eq 4.50}">
										<span class="rate mr-3" th:text="${#numbers.formatDecimal(whisky.getAverageRate(), 0, 1,'POINT')}" ></span><span class="fa fa-star checked"></span><span class="fa fa-star checked"></span><span class="fa fa-star checked"></span><span class="fa fa-star checked"></span><span class="fa fa-star"></span>
									</div>
									<div class="value" th:if="${whisky.getAverageRate() &gt 4.5 and whisky.getAverageRate() &lt 6}">
										<span class="rate mr-3" th:text="${#numbers.formatDecimal(whisky.getAverageRate(), 0, 1,'POINT')}" ></span><span class="fa fa-star checked"></span><span class="fa fa-star checked"></span><span class="fa fa-star checked"></span><span class="fa fa-star checked"></span><span class="fa fa-star checked"></span>
									</div>	
							</div>
                        <div class="recent">
                           <span th:if="${ whisky.getOpinions().size eq 1}" th:text="${whisky.getOpinions().size()} + ' review'"></span>
                           <span th:if="${ whisky.getOpinions().size ne 1}" th:text="${whisky.getOpinions().size()} + ' reviews'"></span>
                        </div>
                    </div>
                 </div>
                 
			</div>
		</div>
	</section>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	<script src="/js/bootstrap.min.js"></script>
</body>
</html>