<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>Rate a whisky</title>
	</head>
	<body>

<br>
<br>
	<div align="center">
		<form th:action="@{/login}" method="post">
		    <p>Username: <input name="username" type="text" ></p>
		    <p>Password: <input name="password"  type="password" ></p>
			<button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
		</form>
	</div>

<br>
<br>
	<div align="center">
		<form th:action="@{/register}" th:object="${newUser}" method="post">
		    <p>Username: <input name="username" type="text" th:field="*{username}"></p>
		    <p>email: <input name="email" type="text" th:field="*{email}"></p>
		    <p>Password: <input name="password"  type="password" th:field="*{password}"></p>
			<button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
		</form>
	</div>
	</body>
</html>