<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>Rate a whisky</title>
	</head>
	<body>
		<div align="left">
			<form th:action="@{/search}" method="get">
			    <input type="search" th:name="search"  />
			    <button type="submit">search</button>
			</form>
		</div>
		<div align="center">
			<h1>Whisky list</h1>
			
			<div th:if="${whiskys!=null and whiskys.isEmpty()}">
			<h1> Nie znaleziono wyniku wyszukiwania</h1>
			</div>
			<div th:if="${whiskys!=null and !whiskys.isEmpty()}">
			<table  border="1">
				<thead>
					<tr>
						<th>Name</th>
						<th>Type</th>
						<th>Country of origin</th>
						<th>Alcohol Volume</th>
						<th>Description</th>
						<th>Number of opinions</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="whisky: ${whiskys}"> 
						<td> <a th:href="@{/whisky/{id}(id=${whisky.getId()})}"  th:text="${whisky.getName()}" > </td>
						<td th:text="${whisky.getType()}" ></td>
						<td th:text="${whisky.getCountryOfOrigin()}"></td>
						<td th:text="${whisky.getAlcoholVolume()}  + '%'" ></td>
						<td th:text="${whisky.getDescription()}"></td>
						<td th:text="${whisky.opinions.size()}"></td>
					</tr>
				</tbody>
			</table>
			</div>
		</div>
		<div align="center">
			<h1><a th:href="@{/}">  powrot </h1>
		</div>
	</body>
</html>