<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>whisky</title>
	</head>
	<body>
		
		<div align="center">
			<h1>Whisky</h1>
			<table border="1">
				<thead>
					<tr>
						<th>Name</th>
						<th>Type</th>
						<th>Country of origin</th>
						<th>Alcohol Volume</th>
						<th>Description</th>
						<th>Number of opinions</th>
						<th>avg smell</th>
						<th>avg taste</th>
						<th>avg finish</th>
						<th>avg Rate</th>
					</tr>
				</thead>
				<tbody>
					<tr> 
						<td  th:text="${whisky.getName()}"></td>
						<td th:text="${whisky.getType()}" ></td>
						<td th:text="${whisky.getCountryOfOrigin()}"></td>
						<td th:text="${whisky.getAlcoholVolume()} + '%'" > %</td>
						<td th:text="${whisky.getDescription()}"></td>
						<td th:text="${whisky.opinions.size()}"></td>
						<td th:text="${#numbers.formatDecimal(whisky.getAverageSmell(), 0, 2,'POINT')}"></td>
						<td th:text="${#numbers.formatDecimal(whisky.getAverageTaste(), 0, 2,'POINT')}"></td>
						<td th:text="${#numbers.formatDecimal(whisky.getAverageFinish(), 0, 2,'POINT')}"></td>
						<td th:text="${#numbers.formatDecimal(whisky.getAverageRate(), 0, 2,'POINT')}"></td>
					</tr>
				</tbody>
			</table>
		</div>
		
				<div align="center">
			<h1>Opinions</h1>
			<table border="1">
				<thead>
					<tr>
						<th>User</th>
						<th>Data</th>
						<th>Smell</th>
						<th>Taste</th>
						<th>Finish</th>
						<th>Text</th>
					</tr>
				</thead>
				<tbody>
					<tr> 
					<tr th:each="opinion: ${whisky.getOpinions()}"> 
						
						 <td  th:text="${opinion.getUser().getUsername()}"></td>
						<td th:text="${opinion.getCreatedAt()}" ></td>
						<td th:text="${opinion.getSmell()}"></td>
						<td th:text="${opinion.getTaste()}" ></td>
						<td th:text="${opinion.getFinish()}"></td>
						<td th:text="${opinion.getText()}"></td>
						<td th:text="${opinion.getVoteResult()}"></td>
					</tr>
				</tbody>
			</table>
		</div>
<br>
<br>
<div align="center">
	<form th:action="@{/add-Opinion}" th:object="${newOpinion}" method="post">
	   	<p>Smell:<input type="number"  th:field="*{Smell}"></p>
	    <p>Taste<input type="number" th:field="*{Taste}"></p>
	   	<p>Finish:<input type="number" th:field="*{Finish}"></p>
	    <p>Text: <input type="text" th:field="*{text}"></p>
	    <p><input type="submit" value="add new opinion"></p>
	</form>
</div>
<br>
<br>
<div align="center">
			<h1><a th:href="@{/}">  powrut </h1>
</div>
	</body>
</html>